@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif ;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
   background: url(login.jpg)no-repeat;
   background-position: center;
   background-size: cover;
}
input:focus ~ label,
input:valid ~ label
{
top: -5px;
}
.form-box{
    position: relative;
    width: 500px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
  
}
.imputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 3px solid #fff;
    padding-top: 1em;

}
.imputbox label{
    position: absolute;
    top: 35%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

.imputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
   
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
   background: #fff;
   border: none;
   outline: none;
   cursor: pointer;
   font-size: 1em;
   font-weight: 600;
}

