*{
    margin: 0;
    padding: 0;
}

.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
color: #fff;
text-decoration:none;
padding: 5px 20px;
font-family: sans-serif;
font-size: 16px;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}
.logo img{
    width: 100px;
    float: left;
    height: auto;
}
body{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(login.jpg);
    font-family: sans-serif;
}
.contact-box{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 3em;
   
}
.contact-box li a{
    color: #fff;
}




